{% load static %}<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      {% block title %}{% endblock %}
      {% block title_suffix %}- FanfareHub{% endblock %}
    </title>

    {% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "main.css" %}">
    {% endblock %}

    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% block header %}
      {% include "includes/header.html" %}
    {% endblock %}

    {% block main %}
      <main class="container my-3">
        {% block messages %}
          {% include "includes/messages.html" %}
        {% endblock %}

        {% block content %}{% endblock %}
      </main>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block javascript %}{% endblock %}
  </body>
</html>
