{% load i18n%}<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url "home" %}">FanfareHub</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "admin:index" %}">
              {% trans "Administration" %}
            </a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "account:profile_update" %}">
            {% trans "My profile" %}
          </a>
        </li>
        <li class="nav-item">
          <form id="logout-form" method="post" action="{% url "account:logout" %}">
            {% csrf_token %}
            <button type="submit" class="nav-link">{% trans "Log out" %}</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
